form{
  display: flex;
  flex-direction: column;
}
 input{
   margin: 10px;
   width: 80%;
 }

 button{
   margin-top: 40px;
   margin-left: 55%;
   width: 35%;
 }
input.ng-invalid.ng-touched{
  border: 1px solid red;
}
.card-main{
  background-color: #ffffff;
  margin: unset;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.login-input{
  display: flex;
}

.login-page{
  display: flex;
  width: 100%;
  padding: 15px;
  height: 100%;
}
.card-box{
  width: 100%;
  height: 400px;
  border:0.2px solid black;
}
svg{
  margin: 15px;
  color: #5fbfde;
}

.card-content{
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
.title{
  padding: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Comic Sans MS";
}

h3{
  padding: 15px;
  text-align: center;
  font-family: "Comic Sans MS";
  font-size: 25px;
}
img {
  width: 48px;
  height: 48px;
}
