form{
  display: flex;
  flex-direction: column;
}
 input{
   margin: 10px;
   width: 80%;
   font-style: italic;
   font-family: Impact, serif;
 }

 button{
   margin-top: 40px;
   margin-left: 55%;
   font-size: 17px;
   width: 35%;
   font-family: Impact, serif !important;
   text-shadow: 0 -1px 0 #000000,
   0 1px 0 #000000, 0 2px 0 #000000, 0 3px 0 #000000, 0 4px 0 #000000;
   font-style: italic;
 }
input.ng-invalid.ng-touched{
  border: 2px solid red;
}
.card-main{
  margin: unset;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 4px solid hsl(206, 70%,96%);
  background-color: #FFF8DC;
}
.login-input{
  display: flex;
}

.brand {
  font-family: Impact, serif;
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #000000,
  0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #000000,
  0 3px 0 #2e2e2e, 0 5px 0 #2c2c2c, 0 6px 0 #2a2a2a, 0 8px 0 #000000;
  font-size: 20px;
  font-style: italic;
}

.login-page{
  display: flex;
  width: 100%;
  padding: 15px;
  height: 100%;
}
.card-box{
  width: 100%;
  height: 400px;
}
svg{
  margin: 15px;
}

.card-content{
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid lightgray;
}
.title{
  padding: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

h3{
  padding: 15px;
  text-align: center;
  font-size: 25px;
  font-style: italic;
  font-family: Impact, serif;
  text-shadow: 0 -1px 0 #000000,
  0 1px 0 #2e2e2e, 0 1px 0 #2c2c2c, 0 1px 0 #2a2a2a, 0 2px 0 #000000,
  0 3px 0 #262626, 0 5px 0 #242424, 0 5px 0 #222, 0 6px 0 #202020,
  0 7px 0 #1e1e1e, 0 9px 0 #1c1c1c, 0 9px 0 #1a1a1a, 0 10px 0 #181818,
  0 11px 0 #161616, 0 9px 0 #141414, 0 9px 0 #121212, 0 16px 24px rgba(0,0,0,0.9);
}
img {
  width: 55px;
  height: 55px;
}

@media screen and (max-width: 500px) {
  .card-main {
    width: 100%;
  }

  .title {
    padding: 40px;
  }

  .card-content {
    width: 100%;
  }

  button {
    width: 60%;
    margin-left: 23%;
  }

  input {
    width: 65%;
  }
}

.is-disabled {
  pointer-events: none !important;
  cursor: default;
  opacity: 0.6;
}

@media screen and (max-width: 720px) {
  .card-main {
    width: 100%;
  }

  .title {
    padding: 40px;
  }

  .card-content {
    width: 100%;
  }

  button {
    width: 60%;
    margin-left: 23%;
  }

  input {
    width: 80%;
  }
}

@media screen and (max-width: 1020px) {
  .card-main {
    width: 70%;
  }

  .title {
    padding: 60px;
  }

  .card-content {
    width: 80%;
  }

  button {
    width: 60%;
    margin-left: 23%;
  }

  input {
    width: 80%;
  }
}
