<ng-container *ngIf="statistics.length !== 0 then orders else empty"></ng-container>


<ng-template #empty>A mai napon nem készült statisztika!</ng-template>
<ng-template #orders>
    <p *ngFor="let type of statisticsList">{{type.foodType}}</p>
    <p *ngFor="let type of statisticsList">{{type.count}}</p>
    <p *ngFor="let type of statisticsList">{{type.amount}}</p>
    <p *ngFor="let type of statisticsList">{{type.afa5}}</p>
    <p *ngFor="let type of statisticsList">{{type.afa27}}</p>
</ng-template>
