<div id="new-drink-item" class="modal">
  <app-drink-edit-modal (newDrinkItem)="addItem($event)"></app-drink-edit-modal>
</div>
<div id="modal-edit-item-content" class="modal">
  <app-drink-edit-modal (newDrinkItem)="editDrinkItem($event)" [drinkItem]="selectedDrinkItem"
                        [baseModalConfig]="modalConfig"></app-drink-edit-modal>
</div>
<div id="modal-delete-drink-item" class="modal">
  <app-dialog (answerer)="deleteItem(deletedItem)" [dialog]="dialog"></app-dialog>
</div>

<div class="card card-main">
  <div class="card-content">
    <h1>Szerkeztés</h1>
    <form [formGroup]="drinkForm">
      <input class="input is-info" type="text" formControlName="name" placeholder="Név">
      <div class="select is-info">
        <select formControlName="afa" (change)="onAfaChange($event)">
          <option value="">Válassz egy ÁFA típust!</option>
          <option *ngFor="let afa of supportedAfa" [ngValue]="afa.toString()">{{afa}}</option>
        </select>
      </div>
    </form>
    <h1>Italok: </h1>
    <div class="item-box">
      <button class="add-button button is-info" (click)="openModal('new-drink-item')">
        Hozzáadás
      </button>
      <div class="items">
        <ng-container *ngIf="drinkItems.length ===0 then empty else items"></ng-container>
      </div>
    </div>
    <button class="button is-success modify-buttons" type="submit" (click)="saveEditing()">Mentés</button>
    <button class="button is-primary modify-buttons" (click)="saveAndClose()">Mentés és bezárás</button>
    <button class="button modify-buttons" (click)="cancelEditing()">Mégsem</button>
  </div>
</div>

<ng-template #empty>
  <div class="item">
    <h3>Ehhez az ital csoporthoz egy megnevezett elem sincs hozzáadva </h3>
  </div>
</ng-template>
<ng-template #items>
  <div *ngFor="let item of drinkItems" class="item">
    <span>{{item.name}}
      <button class="button is-primary is-light is-small"
              (pointerenter)="setEditedDrinkItem(item)"
              (click)="openModal('modal-edit-item-content')">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
             fill="currentColor" class="bi bi-pencil-fill"
             viewBox="0 0 16 16">
             <path
               d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
</svg>
      </button>
      <button class="button is-danger is-light is-small"
              (pointerenter)="setDeletedDrinkItem(item)"
              (click)="openModal('modal-delete-drink-item')">
        <svg
          xmlns="http://www.w3.org/2000/svg" width="16" height="16"
          fill="currentColor" class="bi bi-x"
          viewBox="0 0 16 16">
  <path
    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg></button></span>
  </div>
</ng-template>
