/* You can add global styles to this file, and also import other style files */
html{
  background-color: #eed5ae;
}

body {
  margin: unset;
  padding: unset;
}

@import 'bulma/css/bulma.css';
@import 'ngx-toastr/toastr';
