/* You can add global styles to this file, and also import other style files */
html{
  background-image: linear-gradient(white,hsl(206,70%,96%));
}

body {
  margin: unset;
  padding: unset;
}

@import 'bulma/css/bulma.css';
