<div class="card card-main">
  <div class="card-content">
    <img src="assets/brand.png" alt="brand">
    <h1>Üdvözlünk a Restaurant Management alkalmazásban!</h1>
    <h2>Rólunk:</h2>
    <p>Ez a projekt körülbelül 2021 tavaszán kezdődhetett el és egy nagy szerelem projektnek indult.
      Egyszerű alkalmazást szerettünk volna készíteni azon felszolgálók és étterem tulajdonosok számára, akiknek a
      mindennapi munka során szüksége lehet, ilyesmire. Az alkalmazás csomagban érhető el amik a következők
      jelenleg:</p>
    <ol>
      <li><strong>No Printer:</strong> Ez a csomag nem tartalmazza, azon asztali szerver alkalmazást, amely
        segítségével, egy
        Bixolon nyomtatón az ételek kinyomtatásra kerülnek, azonban mobil-alkalmazást, management appot és a
        dokumentácót igen.
      </li>
      <li>
        <strong>Delux:</strong> Ez a csomag mindent tartalmaz, a dokumentációval és külsős szoftverekkel, amelyek a
        beállításhoz szükségesek lesznek. Ehhez már csak a nyomtató megvásárlása szükséges, bármilyen jelenleg csak
        Bixolon márkájú eszközt támogatunk.
      </li>
    </ol>
    <p>Kedves felhasználó reméljük, hogy tetszik az alkalmazás, amely két lelkes feljelsztő készített
      üdvözlettel Balázs (Junior Consultant developer) és
      Máté (Product Owner & developer).</p>
    <div class="licence-agreement">
      <strong>Jelenlegi verzió: 1.0.0</strong>
      <br />
      <strong>Licence azonosító: MIT</strong>
      <br />
      <strong>Elérhetőség:</strong>
      <br />
      <a href = "mailto: restaurantg2022@gmail.com">restaurantg2022@gmail.com</a>
    </div>
    <div class="restaurant-id">
      <h5>A jelenlegi étterem azonosítója: </h5>
      <strong>{{restaurantId}}</strong>
    </div>
  </div>
</div>
