.card-main {
  background-color: white;
  margin: unset;
  width: 70%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

img {
  width:150px;
  height: 150px;
}

.card-content {
  margin: 15%;
}

h1 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 50px
}

h2 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: bolder;
  font-size: 19px;
  text-decoration: 2px black underline;
}

p, li {
  text-align: justify;
}

.licence-agreement {
  text-align: right;
  margin: 15px;
}

p{
  margin: 15px;
}
h5{
  text-transform: uppercase;
}

@media screen and (max-width: 1120px){
  .card-main {
    top: 60%;
    width: 100%;
  }

  img {
    width: 100px;
    height: 100px;
  }

  h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 740px){
  .card-main {
    top: 70%;
  }

  img {
    width: 80px;
    height: 80px;
  }

}

@media screen and (max-width: 580px){
  .card-main {
    top: 60%;
  }

  img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 450px){
  .card-main {
    top: 61%;
  }

  img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 392px){
  .card-main {
    top: 67%;
    width: 100%;
  }

  img {
    width: 60px;
    height: 60px;
  }

  .card-content {
    margin: unset;
  }
}
